@import '../variables';

.graphlist {

  &__item {
    position: relative;
    padding: 10px;
    > div:not(.graphlist__item__capturediv) {
      height: $graphlist__item-height;
    }
    &:hover {
      background: $hover-and-selected-color;
    }

    &--selected {
      background: $hover-and-selected-color;
    }

    &__capturediv {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }
}