@import '../variables';

.graphlist {

  &__item {
    padding: 10px;
    &:hover {
      background: $hover-and-selected-color;
    }

    &--selected {
      background: $hover-and-selected-color;
    }
  }
}