.modalmask {
  position: absolute;
  z-index: 1; //Above HighCharts
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .2);
}

.modal {
  width: 70%;
  min-width: 400px;
  margin: 0 auto;
  background: white;
  border-radius: 5px;
  padding: 15px;
  box-sizing: border-box;
  margin-top: 50px;
  box-shadow: 10px 10px 5px #888888;
  
  ul {
    margin-left: 0;
  }
}